# Matched against repo root (asterisk)
*                         @paulushcgcj @gpascucci @SScholefield @adityaravi12

# Matched against directories
/.github/workflows/       @paulushcgcj @DerekRoberts

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
